@page
@model Topic_2_APS_DOTNET_CORE_Empty.Pages.IndexModel

<h1>Welcome to Razor Page</h1>
<hr/>

@{
    string name = "David";
    int age = 20;
    var book = new { id = 1, name = "ASP.NET Core" };
}

<div>Name: @name</div>
<div>Age: @age</div>
<div>Book info: @book.id - @book.name</div>
<hr/>

<h3>Data from model: @Model.Message</h3>
<hr/>

<h3>Information of student: @Model.Student.Id - @Model.Student.Name - @Model.Student.Dob.ToString("yyyy-MM-dd")</h3>
<h3>Information of 3 students:</h3>

<table style="border: 1px solid black; border-collapse: collapse; width: 100%;">
    <thead>
    <tr>
        <th style="border: 1px solid black; padding: 8px;">ID</th>
        <th style="border: 1px solid black; padding: 8px;">NAME</th>
        <th style="border: 1px solid black; padding: 8px;">DOB</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Students != null)
    {
        @foreach (var student in Model.Students)
        {
            <tr>
                <td style="border: 1px solid black; padding: 8px;">@student.Id</td>
                <td style="border: 1px solid black; padding: 8px;">@student.Name</td>
                <td style="border: 1px solid black; padding: 8px;">@student.Dob.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    }
    </tbody>
</table>