@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Module2_ASP_NET_MVC_EF_CodeFirst.Models
@using System.Text.Json
@model List<Product>

<link href="~/css/bootstrap.min.css" rel="stylesheet"/>

<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>List of Products</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model)
                    {
                        <tr>
                            <td>@p.ProductId</td>
                            <td>
                                <a asp-action="Detail" asp-route-id="@p.ProductId">
                                    @p.ProductName
                                </a>
                            </td>
                            <td>@p.Price</td>
                            <td>@p.Category.CategoryName</td>
                            <td>
                                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                                    <div class="input-group mb-3">
                                        <input type="hidden" name="productId" value="@p.ProductId" />
                                        <input type="number" class="form-control" name="quantity" value="1" min="1">
                                        <button class="btn btn-primary" type="submit">Add to Cart</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <h3 class="text-center">Shopping Cart</h3><hr/>
            @{
                List<CartItem> cartItems = null;
                if (Context.Session.GetString("Cart") != null)
                {
                    cartItems = JsonSerializer.Deserialize<List<CartItem>>(Context.Session.GetString("Cart"));
                    if (cartItems.Count > 0)
                    {
                        <table class="table table-bordered">
                            @for (var i = 0; i < cartItems.Count; i++)
                            {
                                <tr>
                                    <td style="width:10%">@(i + 1)</td>
                                    <td style="width:50%">@cartItems[i].ProductName</td>
                                    <td style="width:20%">@cartItems[i].Price</td>
                                    <td style="width:10%">@cartItems[i].Quantity</td>
                                    <td style="width:10%; text-align:center">
                                        <form asp-controller="Cart" asp-action="RemoveFromCart" method="post">
                                            <input type="hidden" name="productId" value="@cartItems[i].ProductId" />
                                            <input type="submit" value="X" class="btn btn-danger" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        </table>
                        <hr />
                        <form asp-controller="Cart" asp-action="Checkout" method="post">
                            <div class="mb-3">
                                <label class="form-label">Ship Address</label>
                                <textarea class="form-control" rows="3" name="shipAddress"></textarea>
                                <input type="submit" class="btn btn-success mt-2" value="Checkout"/>
                            </div>
                        </form>
                    }
                    else
                    {
                        <span>Cart is empty!</span>
                    }
                }
                else
                {
                    <span>Cart is empty!</span>
                    @if (TempData["message"] != null)
                    {
                        <div style="color:green;font-weight:bold">
                            <h2>Thank you for your order!</h2>
                            <p>Your order has been placed successfully.</p>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>